html,
body {
  height: 100%;
}

section {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}
.show {
  animation: fadein 2s;
  animation-fill-mode: backwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-img {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock__time {
  display: inline-block;
  box-sizing: border-box;
  font-size: 10rem;
  font-weight: 900;
  color: white;
  letter-spacing: 8px;
  margin-bottom: 30px;
}
.clock__ampm {
  margin-left: 1rem;
  color: #fff;
  font-size: 4rem;
}
.clock__btn {
  width: 3rem;
  height: 1.5rem;
  margin-left: 2rem;
  background-color: rgba(173, 173, 173, 0.2);
  border: none;
  border-radius: 4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  bottom: 1rem;
  transition: all 0.5s ease-in-out;
}
.clock__btn::after {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
}
.clock__btn.change-twelve {
  position: relative;
  background-color: rgba(192, 192, 192, 0.5);
}
.clock__btn.change-twelve::after {
  content: "";
  left: 1.8rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.clock__btn-info {
  width: 10rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: -8rem;
  top: -3rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  color: #fff;
  animation: aniDown 1s infinite;
}
.clock__btn-info::after {
  content: "";
  border-top: 0.5rem solid rgba(0, 0, 0, 0.6);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0px solid transparent;
  position: absolute;
  bottom: -0.5rem;
  left: 0.5rem;
}

@keyframes aniDown {
  0%,
  20%,
  53%,
  80%,
  100% {
    transform: translateZ(0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    transform: translate3d(0, -10px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.greeting {
  display: block;
  height: 5rem;
  color: #fff;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.login-form {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.login-form__name {
  width: 28rem;
  height: 5rem;
  padding-top: 0.5rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  transition: all 0.5s;
}
.login-form__name::placeholder {
  color: #fff;
  font-size: 3rem;
  transition: all 0.5s;
}
.login-form__name:hover::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.login-form__name:focus {
  outline: none;
}
.login-form__name:focus::placeholder {
  color: transparent;
}
.login-form__btn {
  width: 4rem;
  height: 2rem;
  margin-left: 2rem;
  background-color: rgba(173, 173, 173, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  border-radius: 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.login-form__btn:hover {
  color: #fff;
}

/* ToDo 리스트 작성 폼 */
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form__question {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.todo-form__input {
  width: 28rem;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.5s;
}
.todo-form__input::placeholder {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}
.todo-form__input:hover::placeholder {
  color: rgba(255, 255, 255, 0.1);
}
.todo-form__input:focus {
  outline: none;
}
.todo-form__input:focus::placeholder {
  color: transparent;
}
/* 투두리스트 */
.todo-list__item {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  margin: 1rem 0;
}
.todo-list__content {
  width: 20rem;
  line-height: 1.3;
}

.todo-list__btn--remove {
  margin-left: 1rem;
  background-color: transparent;
  font-size: 0.5rem;
  outline: none;
  border: none;
}

/* 명언구 */
.quote {
  max-width: 50rem;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  line-height: 1.4;
}
.quote span {
  color: #fff;
  word-break: keep-all;
}

/* 도시, 날씨 */
.weather {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
.weather__city {
  margin-bottom: 0.5rem;
  color: #fff;
}
.weather__condition {
  margin-bottom: 0.5rem;
  color: #fff;
}
.weather__temper {
  color: #fff;
}
